# {{ ansible_managed }}

server:
    use-syslog: yes
    log-queries: no
    log-replies: no
    log-servfail: yes
    do-daemonize: no
    username: "unbound"
    directory: "/etc/unbound"
    verbosity: 1
    statistics-interval: 21600 # every 6 h
    extended-statistics: no
    num-threads: 2
    interface: "127.0.0.1"
    interface: "::1"
    interface: "{{ unbound_internal_interface_ip }}"
    outgoing-interface: {{ unbound_external_interface_ip }}
    cache-min-ttl: 300
    cache-max-ttl: 86400
    do-ip4: yes
    do-ip6: yes
    do-udp: yes
    do-tcp: yes
    access-control: "{{ unbound_internal_subnet }}" allow
    access-control: 0.0.0.0/0 deny
    hide-identity: yes
    hide-version: yes
    hide-trustanchor: yes
    harden-glue: yes
    harden-dnssec-stripped: yes
    use-caps-for-id: yes
    private-domain: "{{ unbound_public_domain }}"
    private-domain: "{{ unbound_private_domain }}"
    prefetch: yes

    ratelimit: 5
    ratelimit-size: 4m
    ratelimit-slabs: 2
    ratelimit-factor: 0

    local-zone: "{{ unbound_public_domain }}" typetransparent
{% for data in unbound_custom_public_entries %}
    local-data: "{{ data }}"
{% endfor %}

forward-zone:
    name: "{{ unbound_private_domain }}."
{% for server in unbound_private_dns_servers %}
    forward-addr: {{ server }}
{% endfor %}

forward-zone:
    name: .
{% for server in unbound_public_dns_servers %}
    forward-addr: {{ server }}
{% endfor %}

python:
remote-control:

